/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-page-color: #fff1f7;
  --bg-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --bg-image: url(../images/cover-image-light.png);
  --main-title-color: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
  --border-default-button: rgba(53, 52, 48, 1);
  --border-hover-button: rgba(50, 49, 45, 0.4);
  --content-title-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-page-color:  #fff1f7;
    --bg-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --bg-image: url(../images/cover-image-light.png);
    --main-title-color: rgba(53, 52, 48, 1);
    --title-color: rgba(255, 194, 230, 1);
    --border-default-button: rgba(53, 52, 48, 1);
    --border-hover-button: rgba(50, 49, 45, 0.4);
    --content-title-color: rgba(53, 52, 48, 1);
  }

  .header_decoration_rec {
    display: none;
  }

  .header__theme-menu {
  margin-block-start: 63px;
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 172px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: 0px;
}
}

}

}
.theme-light .header_decoration_rec {
  display: none;
}

.theme-light .header__theme-menu {
  margin-block-start: 63px;
}

@media (width >= 768px) {
  .theme-light .header__theme-menu {
    margin-block-start: 172px;
}
}

@media (width >= 1024px) {
  .theme-light .header__theme-menu {
    margin-block-start: 0px;
}
}
